#button {
  background-color: #fcb040;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 3rem;
  border: none;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
  padding: 1rem;
  user-select: none;
}
#button > a {
  text-decoration: none;
  color: white;
  background-color: transparent;
}

#button :hover {
  cursor: pointer;
  color: #506e86;
}
.buttonFont {
  font-size: 3vw;
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 768px) {
  .buttonFont {
    font-size: 7vw;
    padding: 0.5rem 1rem;
  }
}
