.landingPage{
    background-color: #2F3C4F;
    height: 100vh;
    display: grid;
    gap: 4rem;
    padding-left: 15vw;
}
.slogan{
    font-size: 128px;
    color: white;

}

.landingDesign{
    width: 15rem;
}