.loginMainSection {
  color: white;
  border: 1px solid greenyellow;
  display: flex;
  justify-content: center;
}

.loginForm {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.loginForm > input {
  background-color: white;
  width: 20rem;
  height: 3rem;
}

.loginForm > h1 {
  font-size: 3rem;
}
