.footerText {
  text-decoration: none;
  color: white;
}

footer {
  display: flex;
  justify-content: center;
}

.pfooter {
  color: #506e86;
  -webkit-text-stroke: 1px #fcb040;
}

p {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    to right,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #0000ff,
    #4b0082,
    #8f00ff
  );
  
}
