.landing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid yellow;
  margin-top: 3rem;
}

.landing > img {
  grid-column: 1 / 2;
  width: 25rem;
  margin-left: 5rem;
}

.landing > div {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slogan {
  color: white;
  font-size: 7rem;
  user-select: none;
}
