.registerMainSection {
  color: white;
  display: flex;
  justify-content: center;
}

.registerForm {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.registerForm > input {
  background-color: white;
  width: 20rem;
  height: 3rem;
}

.registerForm > h1 {
  font-size: 3rem;
}

.registerForm > button:hover {
  cursor: pointer;
}
