.UserHeader {
  padding: 1rem 4rem;
  border: 1px solid red;
  width: 100vw;
  background-color: #506e86;
  display: flex;
  gap: 50rem;
}

.logoUserHeader {
  width: 5rem;
}

.logoutButtonUserHeader {
  margin-top: 3rem;
}
